@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form action="UpdateArticle" method="post">
    <label for="title">Title:</label><br>
    <input name="id" hidden="true" value="@Model.Id">
    <input type="text" name="title" value="@Model.Title"><br>
    <label for="category">Category:</label><br>
    <input type="text" name="category" value="@Model.Category"><br>
    <label for="content">Content:</label><br>
    <input type="text" name="content" value="@Model.Content"><br>
    <input type="submit" value="Update">
</form>